body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* common css */
img {
    width: 100%;
}

a {
    text-decoration: none;
}

.half-width {
    width: 50%;
}

.primary-btn {

    background: rgb(241, 70, 70);
    padding: 10px 30px;
    color: white;
    border-radius: 7px;
    text-transform: capitalize;
}

.colored-text {
    color: rgb(159, 83, 231)
}

p {
    opacity: .8;
}

.main-container {
    padding: 0 80px;
}



/* intro section starts here */
.intro-secion {
    display: flex;


}

.intro-heading {
    font-size: 40px;
    text-transform: capitalize;
    border-left: 4px solid rgb(241, 70, 70);
    padding-left: 16px;

}


.inro-img img {
    width: 80%;
}

.inro-img {

    padding-left: 50px;
    margin-top: -20px;
}

.intro-desc {


    padding: 30px 30px 5px 0;
}

.intro-desc p {
    margin-bottom: 50px;
}

.intro-desc a {
    margin-bottom: 30px;
    display: inline-block;
}

.intro-desc h4 {
    font-weight: 500;
}

/* intro section ends here */


/* misiion section starts here */
.mission-section {
    margin: 40px 0;
}

.mission-heading {
    text-align: center;
    text-transform: capitalize;
    font-size: 23px;
    margin-bottom: 60px;
}

.boxes {
    display: flex;
    justify-content: space-between;

}

.boxes div {

    width: 28%;
    min-height: 250px;
    padding: 30px 10px 5px 20px;
    border-radius: 30px;
}

.boxes p {
    opacity: .8;
}

.boxes img {
    width: 40%;
}

.box-1 {
    background: rgba(250, 235, 215, 0.87);

}

.box-2 {
    background: rgb(171, 223, 223);

}

.box-3 {
    background: rgb(243, 215, 223);

}

/* misiion section ends here */


/* dev section starts here */
.bg-img {
    background: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 160px;
    background-position: 25px 45px;
}

.dev-desc p {
    margin-bottom: 40px;
}

.dev-section {
    display: flex;
    justify-content: space-between;
    margin: 70px 0 80px 0;
}






.dev-section .dev-img img {
    width: 300px;

}

/* dev section ends here */


/* about section starts here */
.about-section {
    display: flex;

    justify-content: space-between;
    padding-bottom: 60px;
    margin-bottom: 40px;

}

.bg-img-2 {
    background: url(images/shapes/shape-1.png);
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: 97% 260px;
}

.about-section div {
    width: 45%;
    min-height: 300px;


}

.about-desc p {
    margin-bottom: 40px;
}

.about-img {
    display: flex;

    flex-direction: row-reverse;
}

.about-img img {
    width: 320px;
    /* margin-left: 50px; */
}

/* about section ends here */



/* pending */
/* pending ems */



/* footer starts here */
.bg-black {
    background: black;
    margin-bottom: -18px;
}

.colored-number {
    color: rgb(241, 70, 70);
}

.footer-section {
    text-align: center;
    color: white;
    padding: 7px 0;
}

/* footer ends here */


/* skill sectin starts here */
.skill-section {
    padding: 40px 0;
}

.skill-heading {
    text-align: center;
    text-transform: capitalize;
    font-size: 38px;
}

.skill-boxes {
    display: flex;
    justify-content: space-between;
}

.skill-boxes div {
    width: 43%;

}

.skill-boxes h3 {
    display: inline-block;
    border-bottom: 3px solid black;

}

.skill-box-1 {
    border-radius: 11px;
    padding: 20px;
    box-shadow: 10px 10px 17px black;
}

.skill-box-2 {
    border-radius: 11px;
    padding: 20px;
    background: rgb(250, 134, 192);
    box-shadow: 10px 10px 17px black;
}

/* skill sectin ends here */